@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;}

.desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.gradient-bg {
  background-color:#def1ff;
  background-image: 
    radial-gradient(at 0% 0%, rgb(169, 222, 255) 0, transparent 50%), 
    radial-gradient(at 50% 0%,#93d0ff, transparent 50%), 
    radial-gradient(at 100% 80%, rgb(138, 220, 253) 0, transparent 50%);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.247);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}